body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #faf7f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(bakgrund3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

nav,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #d4a373;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
button:hover {
  background-color: #b5834f;
  transform: scale(1.05);
}

a:hover {
  color: #555;
}

.nav-links,
.contact-links,
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.about,
.social,
.contact {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0;
  width: 300px;
}

.about {
  max-width: 300px;
}

.profil {
  background-color: rgba(128, 128, 128, 0.616);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.profil-bild {
  border-radius: 3000px;
  height: 150px;
  width: 150px;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.skills-bild {
  height: 60px;
  width: 60px;
  border-radius: 3000px;
  border: 1px solid rgba(128, 128, 128, 0.658);
}

.skills-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills-rubrik {
  width: 100%;
}

.erfarenheter {
  padding: 1rem;
}

.senaste {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projekt-card {
  background: rgba(128, 128, 128, 0.767);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  margin-bottom: 1rem;
}
.produktbild {
  height: 100px;
  border-radius: 5px;
}

.projekt-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.projekt-card button {
  align-self: center;
  width: 100%;
  max-width: 200px;
}

@media (min-width: 768px) {
  nav,
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-links,
  .social-links {
    gap: 0.5rem;
  }

  .nav-links {
    flex-direction: row;
    gap: 2rem;
  }

  .profil-bild {
    width: 200px;
    height: 200px;
    margin-left: 8rem;
  }

  .profil {
    flex-direction: row;
  }

  .grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bio {
    width: 300px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    width: 300px;
  }

  .senaste {
    width: 300px;
    padding: 1rem;
  }
}
